
/* основной текст #757575; */
/* вторичны цвет #212121; */
/* цвет ховера #2196F3; */
/* основной цвет фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA */
/* цвет фона header #FFFFFF; */
/* цвет фона 1 секц #2F303A */

:root{
/* основной цвет текста */
  --main-color: #757575;  
/* вторичный цвет текста */
  --second-color: #212121;
/*цвет ссылок и ховера ссылок и кнопок портфолио  */
  --link-color: #2196F3;
/* цвет основного заголовка */
  --h1-color: #ffffff;
/* цвет текста адреса и логотипа в футере */
  --adr-color: #FFFFFF;
/* цвет номера телефона и мыла в футере */
  --foot-email: rgba(255, 255, 255, 0.6);
/* цвет текста кнопок портфолио при ховере */
  --button-hover-text-color: #FFFFFF;
/* цвет логотипа Studio в хедере */
  --logo-studio: #000000;
/* цвет текста кнопки */
  --button-text: #FFFFFF;
/* Цвет Ховера кнопки */
  --button-hover: #188CE8;
/* основной фон  */
  --body-bcg: #ffffff;
/* цвет фона секции Наша команда */
  --team-bcg: #F5F4FA;
/* цвет фона карточек участников команды */
  --member-bcg: #FFFFFF;
/* Цвет фона первой секции ифутера */
  --foot-bcg: #2F303A;
}

/* основной стиль документа */

body{
  font-family: Roboto, sans-serif ;
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  background-color: var(--body-bcg);
 }

 img {
display: block;
max-width: 100%;
}



.list { list-style: none; }

.link {
  text-decoration: none;
}

/* logo */

.logo-web,
.logo-studio,
.foot-studio{
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
color: var(--link-color);
}

.logo-studio{
color: var(--logo-studio);
}
/* header */
.head{
  background-color: var(--body-bcg) ;
}

.site-head .name,
.site-head .info{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--second-color);
}

.head-info .info {
color: var(--main-color);
}


.site-head .name:hover,
.site-head .name:focus, 
.head-info .info:hover,
.head-info .info:focus {
  color:var(--link-color);
}

.site-head .current{
  color: var(--link-color) ;
}
  
/* 1-st section */
.hero{
  background-color: var(--foot-bcg);
}

.main-title{
font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--h1-color);
}

.myButton{
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.9;
cursor: pointer;
text-align: center;
letter-spacing: 0.06em;
background: var(--link-color);
color: var(--button-text);
}

.myButton:hover,
.myButton:focus{
background-color: var(--button-hover);
}

/* заголовок секций */

.section-title{
font-size: 36px;
text-align: center;
color: var(--second-color);
}

/* 2-ая секция */

.exclusive .title{
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: var(--second-color);
}

.exclusive .text{
line-height: 1.7;
}

/* 3-ая секция */

.team-section{
background-color: var(--team-bcg);
}

.persone{
font-weight: 500;
font-size: 16px;
color: var(--second-color);
}


.job{
font-size: 16px;

}

/* Footer */

.foot{
background-color: var(--foot-bcg);
}
.rules{
  font-style: normal;
}
.contacts .adres{
line-height: 1.7;
color: var(--adr-color);
}

.contacts .info{
line-height: 1.7px;
color: var(--foot-email);
}

.contacts .adres:hover,
.contacts .adres:focus,
.contacts .info:hover,
.contacts .info:focus{
  color: var(--link-color);
}


.foot-studio{
color: var(--adr-color);
}

/* портфолио */
/* кнопки фильтра */

.filter{
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
cursor: pointer;
text-align: center;
color: var(--second-color);
}

.filter:hover,
.filter:focus{
  color: var(--button-hover-text-color);
  background-color:var(--link-color) ;

}

/* Список проектов */

.port-title{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--second-color);
}

.group{
font-size: 16px;
line-height: 1.88;
color: var(--main-color);
}


